<div class="card">
    <div class="card-body">
        <h5 class="titulo">LISTAR TARJETA</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>Tomas Garcia</td>
                    <td>24242452552525252</td>
                    <td>01/23</td>
                    <td>
                        <i class="far fa-edit text-info"></i>
                        <i class="far fa-trash-alt text-danger"></i>
                    </td>
                </tr>
                <tr>
                    <td>Tomas Perez</td>
                    <td>24242452552525252</td>
                    <td>03/24</td>
                    <td>
                        <i class="far fa-edit text-info"></i>
                        <i class="far fa-trash-alt text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>